.container-main{
    padding: 40px;
    display: flex;
    flex-direction: column;
   
    p{
        margin-top: 20px;
        margin-left: 21%;
    }
}

.container-option-report {
    padding: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    .container-direction {
        padding: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;


        .card-group {

            padding: 20px;
            text-align: center;
            background-color: #D9D9D9;


                 li{
                    list-style-type: none;
                 }

                .list-style-buttons {
                    text-decoration: none;
                   color: #000;

                    &:hover{
                        color: #D9D9D9;
                    }
                }

                &:hover{
                    background-color: #49AA58;
                    color: #fff;
                }

        }


       


    }

}